@charset "UTF-8";
/*Estilos generales*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap");
@font-face {
  font-family: "Licorice";
  src: url("../tipografias/LechantdesAlbatros.woff2") format("woff2"), url("../tipografias/LechantdesAlbatros.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }

/*Estilos Header*/
header {
  width: 100%;
  text-decoration: none; }
  header .navbar {
    background-image: linear-gradient(90deg, #f7e1a9 40%, #f8e7ba 60%, #f7e1a9); }
    header .navbar .navbar-brand img {
      max-width: 250px; }
    header .navbar li a {
      color: #9c1358;
      font-weight: bold;
      font-size: 1.25rem; }
      header .navbar li a:hover {
        color: #5a0630;
        text-decoration: underline; }
    header .navbar .btn {
      background-color: #9c1358;
      color: white;
      font-weight: bold;
      font-size: 1.25rem;
      border-color: #9c1358; }
      header .navbar .btn:hover {
        background-color: #5a0630;
        color: white;
        border-color: #5a0630; }

/*Estilos Footer*/
footer {
  background-color: #fcab65;
  width: 100%;
  line-height: 6vh;
  padding-top: 3vh; }
  footer .redesFooter {
    margin-bottom: 3vh; }
    footer .redesFooter a {
      margin: 0 1rem; }
  footer ul li {
    color: white;
    font-weight: norma;
    font-size: 1rem;
    line-height: 3vh;
    text-align: center;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 3vh; }
    footer ul li a {
      color: white;
      font-weight: normal;
      text-decoration: none; }
    footer ul li iframe {
      width: 30vh;
      height: 20vh;
      border-radius: 0.8vh; }
    footer ul li #subir {
      position: relative;
      font-weight: bold;
      color: #fcab65;
      text-decoration: none;
      background-color: white;
      border-width: 1vh 1vh 0.5 0.5vh;
      border-style: double;
      border-color: peachpuff;
      border-radius: 1vh;
      padding: 1.5vh;
      margin: 0.8vh;
      transition: padding 300ms, border-radius 300ms; }
      footer ul li #subir:hover {
        border-radius: 2vh;
        padding: 2vh; }
  footer .copyright {
    width: 100%;
    font-weight: normal;
    background-color: white;
    color: #f5943f;
    text-align: center; }

/******************************/
/*MEDIA QUERY PARA SMARTPHONE*/
@media (max-width: 480px) {
  /*Estilos Header para Smartphone*/
  .navbar-brand img {
    width: 150px; }
  /*Estilos Footer para Smartphone*/
  footer {
    background-color: #fca65a;
    display: flex;
    flex-direction: column; }
    footer li {
      font-size: 2rem;
      line-height: 8vh; }
      footer li .redesFooter {
        margin: 0vh 0 5vh 0; }
      footer li #subir {
        margin: 20vh 0 10vh 0; }
    footer .copyright p {
      font-size: 2vh; } }

/*************************/
/*MEDIA QUERY PARA TABLET*/
@media (min-width: 481px) and (max-width: 1024px) {
  /*Estilos Header para Tablet*/ }

/*Estilos de main de página Index para Desktop*/
main .imagenCocinamos {
  margin: 10vh auto 15vh auto; }

main .recetasSemana {
  font-weight: normal;
  text-align: center;
  font-size: clamp(2.5rem, 7vw, 5rem);
  color: #9c1358; }

main .tituloRecetasAni {
  animation-name: tituloani;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 10s; }

@keyframes tituloani {
  0% {
    color: #f7e198; }
  20% {
    color: #9c1358; }
  50% {
    color: #fcab65; }
  80% {
    color: #b64c81; }
  100% {
    color: #f7e198; } }

main .carousel-caption {
  background: linear-gradient(0deg, #5e370b, rgba(239, 247, 199, 0.15)); }

main .divPlatos {
  height: 8vh;
  display: flex;
  align-self: flex-start; }

main .postear {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  list-style-type: none;
  height: 6.5vh;
  width: 40vh;
  color: white;
  font-size: 3vh;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  background-color: #f5943f;
  padding: 0.9vh;
  border-radius: 5px;
  border-bottom: 0.3vh double peachpuff;
  border-right: 0.7vh double peachpuff;
  border-top: 0.7vh double peachpuff; }

main .tituloNuestrosCursos {
  font-weight: bold;
  font-size: 4rem;
  color: #b64c81;
  text-align: center;
  margin-top: 16vh;
  margin-bottom: 5vh; }

main #trailerCursos {
  justify-self: center;
  margin-top: 4.8vh auto 4.8vh auto; }

main .botonVerCursos {
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  width: 30vw;
  font-size: 2rem;
  text-align: center;
  background-color: #5e0b34;
  padding: 0.3rem 0.5rem;
  border-radius: 1vh;
  margin: 8vh 0 8vh 0; }
  main .botonVerCursos a {
    color: white;
    font-weight: normal;
    text-decoration: none; }

/*MEDIA QUERY PARA TABLET*/
@media (min-width: 481px) and (max-width: 1024px) {
  /*Estilos main de página Index para Tablet*/
  .recetasSemana {
    font-size: 4vh;
    text-align: center; }
  .divPlatos {
    width: 400px;
    margin: 0 auto 0 auto;
    justify-content: space-between; }
    .divPlatos img {
      width: 80px; }
  .postear {
    width: 400px;
    margin: 0 auto 10vh auto; }
  #trailerCursos {
    width: 450px;
    height: 300px; } }

/*MEDIA QUERY PARA SMARTPHONE*/
@media (max-width: 480px) {
  /*main  de la página Index para Smartphone*/
  .imagenCocinamos {
    width: 350px;
    margin: 8vh 0; }
  .recetasSemana {
    font-size: 2vh;
    text-align: center;
    margin: 0; }
  .divPlatos {
    width: 300px;
    margin: 0 auto 0 auto;
    justify-content: space-between; }
    .divPlatos img {
      width: 60px; }
  .postear {
    width: 300px;
    margin: 0 auto 10vh auto; }
  #comunidad {
    font-size: 2rem; }
  #trailerCursos {
    width: 250px;
    height: 200px; }
  .botonVerCursos a {
    font-size: 1.2rem; } }

/*ESTILOS DE PÁGINA Quiero recibir más información*/
.titulo {
  font-family: "Licorice", serif;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  font-size: 4rem;
  text-align: center;
  color: #9c1358;
  padding: 3vh 0; }

form {
  margin: 5vh 0; }
  form fieldset {
    border: 1px double #9c1358;
    border-radius: 8px;
    background-color: #faf3e2;
    padding: 5vh;
    margin: 0 0 10% 10%; }
    form fieldset legend {
      font-weight: bold;
      color: #fc9869;
      font-size: 4.8vh;
      margin-bottom: 3vh; }
    form fieldset label {
      font-weight: bold;
      color: #9c1358;
      font-size: 3.2vh;
      padding: 1vh;
      vertical-align: middle; }
    form fieldset input {
      width: 20vw;
      height: 5.6vh;
      font-style: italic;
      font-size: 2rem;
      color: #b64c81;
      border-radius: 0.8vh;
      border-color: #fc9869;
      border-style: solid;
      vertical-align: middle; }
    form fieldset .checkboxCuadrado {
      margin-left: 0;
      width: 3vw; }
    form fieldset div #tuComentario {
      width: 70%;
      color: #c4a4b4;
      border-color: #f7e1a9;
      border-style: solid;
      border-width: 0.8vh;
      margin: 5vh; }
    form fieldset select {
      background-color: #b64c81;
      color: white;
      font-size: 3.2vh;
      text-align: center;
      border-radius: 0.7vh;
      border-color: #f7e198;
      border-style: solid; }
    form fieldset .botonesForm {
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      list-style-type: none;
      width: 11vw;
      height: 7.5vh;
      color: white;
      font-size: 3.2vh;
      display: inline;
      background-color: #9c1358;
      text-align: center;
      padding: 1.2vh;
      border: 3px;
      border-style: solid;
      border-color: #b64c81;
      border-radius: 0.7vh;
      margin: 4.6vh;
      transition: 200ms; }
      form fieldset .botonesForm:hover {
        height: 8.5vh;
        font-size: 3.8vh; }

/*MEDIA QUERY PARA TABLET*/
/*Estilos del main de Quiero recibir información para Tablet*/
@media (min-width: 481px) and (max-width: 1024px) {
  .titulo {
    font-size: 10vh;
    margin: 0;
    text-align: center; }
  form fieldset label {
    width: 28vw; }
  form fieldset input {
    width: 30vw; }
  form fieldset select {
    width: 30vw; }
  form fieldset .checkbox {
    font-size: 1.5rem;
    width: 50vw;
    line-height: 3rem; }
  form fieldset .botonesForm {
    font-size: 1.5rem;
    width: 19vw;
    margin: 3vh 1rem 3vh 1rem; }
    form fieldset .botonesForm:hover {
      width: 20vh; } }

/*MEDIA QUERY PARA SMARTPHONE*/
/*Estilos del main de Quiero recibir información para Smartphone*/
@media (max-width: 480px) {
  .titulo {
    font-size: 10vh;
    margin: 0;
    text-align: center; }
  form fieldset label {
    width: 50vw; }
  form fieldset input {
    width: 50vw;
    font-size: 1rem; }
  form fieldset div #tuComentario {
    width: 90%;
    color: #c4a4b4;
    border-color: #f7e1a9;
    border-style: solid;
    border-width: 0.8vh;
    margin: 2vh auto; }
  form fieldset select {
    width: 50vw; }
  form fieldset .checkbox {
    font-size: 1rem;
    width: 50vw; }
  form fieldset .botonesForm {
    font-size: 1.5rem;
    width: 40vw;
    margin: 3vh auto 3vh auto; } }

.tituloRecetas, #banner h4 {
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  font-family: "Licorice", serif;
  color: #9c1358;
  font-size: 5rem;
  text-align: center;
  margin: 0; }

#recetario .card h2 {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  color: #b64c81; }

#recetario .card select {
  background-color: #fcab65;
  color: white;
  border-color: #f7e1a9; }

#banner {
  margin-top: 1rem;
  padding: 6rem 0;
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.8), rgba(54, 54, 53, 0.3)), url("https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }
  #banner h4 {
    color: white; }

/*MEDIA QUERY PARA TABLET*/
@media (min-width: 481px) and (max-width: 1024px) {
  /*Estilos main de página Recetas para Tablet*/ }

/*MEDIA QUERY PARA SMARTPHONE*/
@media (max-width: 480px) {
  /*Estilos del main de página Recetas para Smartphone*/
  #postear {
    width: 35vh;
    margin-bottom: 5vh; }
  .quieroAprender {
    font-size: 4vh; } }

#recetario .card h2 {
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  color: #b64c81; }

#banner {
  margin-top: 1rem;
  padding: 6rem 0;
  background: linear-gradient(0deg, rgba(63, 63, 62, 0.8), rgba(54, 54, 53, 0.3)), url("https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); }

/*ESTILOS DE PÁGINA Quiero recibir más información*/
.titulo {
  font-family: "Licorice", serif;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  list-style-type: none;
  font-size: 4rem;
  text-align: center;
  color: #9c1358;
  padding: 3vh 0; }

form {
  margin: 5vh 0; }
  form fieldset {
    border: 1px double #9c1358;
    border-radius: 8px;
    background-color: #faf3e2;
    padding: 5vh;
    margin: 0 0 10% 10%; }
    form fieldset legend {
      font-weight: bold;
      color: #fc9869;
      font-size: 4.8vh;
      margin-bottom: 3vh; }
    form fieldset label {
      font-weight: bold;
      color: #9c1358;
      font-size: 3.2vh;
      padding: 1vh;
      vertical-align: middle; }
    form fieldset input {
      width: 20vw;
      height: 5.6vh;
      font-style: italic;
      font-size: 2rem;
      color: #b64c81;
      border-radius: 0.8vh;
      border-color: #fc9869;
      border-style: solid;
      vertical-align: middle; }
    form fieldset .checkboxCuadrado {
      margin-left: 0;
      width: 3vw; }
    form fieldset div #tuComentario {
      width: 70%;
      color: #c4a4b4;
      border-color: #f7e1a9;
      border-style: solid;
      border-width: 0.8vh;
      margin: 5vh; }
    form fieldset select {
      background-color: #b64c81;
      color: white;
      font-size: 3.2vh;
      text-align: center;
      border-radius: 0.7vh;
      border-color: #f7e198;
      border-style: solid; }
    form fieldset .botonesForm {
      text-decoration: none;
      font-weight: normal;
      font-style: normal;
      list-style-type: none;
      width: 11vw;
      height: 7.5vh;
      color: white;
      font-size: 3.2vh;
      display: inline;
      background-color: #9c1358;
      text-align: center;
      padding: 1.2vh;
      border: 3px;
      border-style: solid;
      border-color: #b64c81;
      border-radius: 0.7vh;
      margin: 4.6vh;
      transition: 200ms; }
      form fieldset .botonesForm:hover {
        height: 8.5vh;
        font-size: 3.8vh; }

/*MEDIA QUERY PARA TABLET*/
/*Estilos del main de Quiero recibir información para Tablet*/
@media (min-width: 481px) and (max-width: 1024px) {
  .titulo {
    font-size: 10vh;
    margin: 0;
    text-align: center; }
  form fieldset label {
    width: 28vw; }
  form fieldset input {
    width: 30vw; }
  form fieldset select {
    width: 30vw; }
  form fieldset .checkbox {
    font-size: 1.5rem;
    width: 50vw;
    line-height: 3rem; }
  form fieldset .botonesForm {
    font-size: 1.5rem;
    width: 19vw;
    margin: 3vh 1rem 3vh 1rem; }
    form fieldset .botonesForm:hover {
      width: 20vh; } }

/*MEDIA QUERY PARA SMARTPHONE*/
/*Estilos del main de Quiero recibir información para Smartphone*/
@media (max-width: 480px) {
  .titulo {
    font-size: 10vh;
    margin: 0;
    text-align: center; }
  form fieldset label {
    width: 50vw; }
  form fieldset input {
    width: 50vw;
    font-size: 1rem; }
  form fieldset div #tuComentario {
    width: 90%;
    color: #c4a4b4;
    border-color: #f7e1a9;
    border-style: solid;
    border-width: 0.8vh;
    margin: 2vh auto; }
  form fieldset select {
    width: 50vw; }
  form fieldset .checkbox {
    font-size: 1rem;
    width: 50vw; }
  form fieldset .botonesForm {
    font-size: 1.5rem;
    width: 40vw;
    margin: 3vh auto 3vh auto; } }

/*MAPA para los h3 en el aside de la página Nosotros*/
.nombre1 {
  color: #fcab65; }

.nombre2 {
  color: #9c1358; }

.nombre3 {
  color: #b64c81; }

.nombre4 {
  color: #f5943f; }

.nombre5 {
  color: #921520; }

.nombre6 {
  color: #fc9869; }

/*ESTILOS página Nosotros*/
main section article {
  margin: 4vh 0 4vh 0;
  background-color: #5e0b34;
  padding: 6.4vh;
  margin-bottom: 3vh; }
  main section article h1 {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
    list-style-type: none;
    font-family: "Licorice", serif;
    font-size: 4rem;
    text-align: center;
    color: white; }
  main section article p {
    width: 100%;
    height: auto;
    color: white;
    font-size: 4vh;
    font-family: "Lato-LightItalic";
    text-align: justify;
    line-height: 6.4vh; }
    main section article p span {
      font-family: "Lato-LightItalic";
      font-weight: bold;
      font-size: 4.8vh; }

main aside {
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  list-style-type: none; }
  main aside article {
    background-color: #f7e1a9;
    padding: 6.4vh;
    margin: 4vh 0 4vh 0; }
    main aside article h2 {
      font-family: "Licorice", serif;
      color: #9c1358;
      font-size: 4rem;
      text-align: center; }
    main aside article div {
      display: flex;
      flex-direction: row;
      align-items: center; }
      main aside article div img {
        width: 25%;
        margin: 0 0 5vh 5vh; }
      main aside article div h3 {
        font-family: "Lato-LightItalic";
        display: inline;
        margin-left: 5vh; }

/*MEDIA QUERY PARA TABLET*/
@media (min-width: 481px) and (max-width: 1024px) {
  /*Estilos main de página Nosotros para Tablet*/
  section article h1 {
    font-size: 7vh;
    margin: 0 5vh 0 5vh; }
  section article p {
    font-size: 3.1vh;
    line-height: 3.5vh; }
    section article p span {
      font-size: 3.5vh; }
  aside {
    height: auto;
    margin: 0 0 10vh 0;
    justify-self: center;
    align-items: center; }
    aside article h2 {
      font-size: 8vh;
      margin-bottom: 4vh; }
    aside article div {
      margin-bottom: 6vh; }
      aside article div h3 {
        font-size: 4vh; } }

/*MEDIA QUERY Estilos del main de página Nosotros para Smartphone*/
@media (max-width: 480px) {
  section article h1 {
    font-size: 7vh;
    margin: 0 5vh 0 5vh; }
  section article p {
    font-size: 3.1vh;
    line-height: 3.5vh; }
    section article p span {
      font-size: 3.5vh; }
  aside {
    height: auto;
    width: auto;
    margin: 0 0 10vh 0;
    justify-self: center;
    align-items: center; }
    aside h2 {
      font-size: 8vh;
      margin-bottom: 4vh; }
    aside div {
      margin-bottom: 6vh; }
      aside div h3 {
        font-size: 4vh; } }

/*ESTILOS PÁGINA Cursos*/
.divCursos {
  /*MEDIA QUERY PARA TABLET*/
  /*MEDIA QUERY PARA SMARTPHONE*/
  /*Estilos del main de página Cursos para Smartphone*/ }
  .divCursos div article .nombreCurso {
    color: #993366;
    font-family: "Lato", serif;
    font-size: 6.4vh;
    text-align: center;
    margin-top: 10vh; }
  .divCursos div article .verSmartphoneTablet {
    display: none; }
  .divCursos div article .masInfo {
    color: #fca65a;
    font-size: 4vh;
    font-family: "Lato", serif;
    margin: 0 10vh 3vh 0;
    text-align: right;
    transition: font-size 300ms; }
    .divCursos div article .masInfo:hover {
      font-size: 5vh; }
    .divCursos div article .masInfo span img {
      height: 3vh; }
  .divCursos div #nuestrosCursosTit h2 {
    font-family: "Licorice", serif;
    text-align: center;
    font-size: 4rem;
    color: #994871;
    margin: 5vh 0 1vh 0;
    justify-self: center; }
  .divCursos div div iframe {
    width: 90%;
    display: flex;
    justify-self: center;
    margin: 5vh auto 5vh auto; }
  @media (min-width: 481px) and (max-width: 1024px) {
    .divCursos .divCursos {
      display: flex;
      flex-direction: column; }
      .divCursos .divCursos .curso .nombreCurso {
        font-size: 3rem;
        margin-top: 6vh; }
      .divCursos .divCursos .curso .verSmartphoneTablet {
        display: flex;
        justify-content: center;
        font-size: 3vh;
        color: #fca65a;
        font-weight: bold;
        margin-left: 10vh; }
        .divCursos .divCursos .curso .verSmartphoneTablet img {
          height: 3vh; }
      .divCursos .divCursos .curso .masInfo {
        display: none; }
      .divCursos .divCursos #nuestrosCursosTit h2 {
        font-family: "Licorice", serif;
        text-align: center;
        color: #994871;
        margin: 5vh 0 1vh 0;
        justify-self: center; }
      .divCursos .divCursos #nuestrosCursosTit .verSmartphoneTablet {
        display: flex;
        justify-content: center;
        font-size: 3vh;
        color: #fca65a;
        font-weight: bold;
        margin-left: 10vh; }
        .divCursos .divCursos #nuestrosCursosTit .verSmartphoneTablet img {
          height: 3vh; }
      .divCursos .divCursos #nuestrosCursosTit .masInfo {
        display: none; } }
  @media (max-width: 480px) {
    .divCursos .divCursos {
      display: flex;
      flex-direction: column; }
      .divCursos .divCursos .curso .nombreCurso {
        font-size: 3rem;
        margin-top: 6vh; }
      .divCursos .divCursos .curso .verSmartphoneTablet {
        display: flex;
        justify-content: center;
        font-size: 3vh;
        color: #fca65a;
        font-weight: bold;
        margin-left: 10vh; }
        .divCursos .divCursos .curso .verSmartphoneTablet img {
          height: 3vh; }
      .divCursos .divCursos .curso .masInfo {
        display: none; }
      .divCursos .divCursos #nuestrosCursosTit h2 {
        font-family: "Licorice", serif;
        text-align: center;
        font-size: 3rem;
        color: #994871;
        margin: 5vh 0;
        justify-self: center; }
      .divCursos .divCursos #nuestrosCursosTit .verSmartphoneTablet {
        display: flex;
        justify-content: center;
        font-size: 3vh;
        color: #fca65a;
        font-weight: bold;
        margin-left: 10vh; }
        .divCursos .divCursos #nuestrosCursosTit .verSmartphoneTablet img {
          height: 3vh; }
      .divCursos .divCursos #nuestrosCursosTit .masInfo {
        display: none; }
      .divCursos .divCursos #nuestrosCursosVideo {
        display: flex;
        justify-self: center;
        margin: 5vh auto 5vh auto; } }
