$naranja:rgb(252, 171, 101);
$remolacha:rgb(156, 19, 88);
$naranjaFuerte:rgb(245, 148, 63);
$maiz:rgb(247, 225, 152);
$rojo:rgb(146, 21, 32);
$salmon:#fc9869;
$rosa:rgb(182, 76, 129);
$durazno:peachpuff;
$crema:#f7e1a9;
$cremaClaro:#f8e7ba;
$bordo:rgb(94, 11, 52);
$casiBlanco:#faf3e2;
$lila:rgb(196, 164, 180);
$marron:rgb(94, 55, 11);

