/*Estilos generales*/
@font-face {
  font-family: "Licorice";
  src: url("../tipografias/LechantdesAlbatros.woff2") format("woff2"),
    url("../tipografias/LechantdesAlbatros.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
