/*Estilos Header*/
header {
  width: 100%;
  text-decoration: none;

.navbar {
  background-image: linear-gradient(90deg, $crema 40%, $cremaClaro 60%, $crema);

  .navbar-brand {
    img {
      max-width: 250px;
    }
  }
  li {
    a {
      color: #9c1358;
      font-weight: bold;
      font-size: 1.25rem;
      &:hover {
        color: #5a0630;
        text-decoration: underline;
      }
    }
  }
  .btn {
    background-color: #9c1358;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    border-color: #9c1358;
    &:hover {
      background-color: #5a0630;
      color: white;
      border-color: #5a0630;
    }
  }
}

}

/*Estilos Footer*/
footer {
  background-color: $naranja;
  width: 100%;
  line-height: 6vh;
  padding-top: 3vh;
  .redesFooter {
    margin-bottom: 3vh;
    a{
      margin:0 1rem;
    }
  }
  ul {
    li {
      color: white;
      font-weight: norma;
      font-size: 1rem;
      line-height: 3vh;
      text-align: center;
      list-style-type: none;
      text-decoration: none;
      margin-bottom: 3vh;
      a {
        color: white;
        font-weight: normal;
        text-decoration: none;
      }
      iframe {
        width: 30vh;
        height: 20vh;
        border-radius: 0.8vh;
      }
      #subir {
        position: relative;
        font-weight: bold;
        color: $naranja;
        text-decoration: none;
        background-color: white;
        border-width: 1vh 1vh 0.5 0.5vh;
        border-style: double;
        border-color: peachpuff;
        border-radius: 1vh;
        padding: 1.5vh;
        margin: 0.8vh;
        transition: padding 300ms, border-radius 300ms;
        &:hover {
          border-radius: 2vh;
          padding: 2vh;
        }
      }
    }
  }
  .copyright {
    width: 100%;
    font-weight: normal;
    background-color: white;
    color: $naranjaFuerte;
    text-align: center;
  }
}

/******************************/
/*MEDIA QUERY PARA SMARTPHONE*/
@media (max-width: 480px) {
  /*Estilos Header para Smartphone*/
  
  .navbar-brand {
    img {
      width: 150px;
    }
    
  }
  /*Estilos Footer para Smartphone*/
  
  footer {
    background-color: rgb(252, 166, 90);
    display: flex;
    flex-direction: column;
    li {
      font-size:2rem;
      line-height: 8vh;
      .redesFooter {
        margin: 0vh 0 5vh 0;
      }
      #subir {
        margin: 20vh 0 10vh 0;
      }
    }
    .copyright p {
      font-size: 2vh;
    }
  }
}

/*************************/
/*MEDIA QUERY PARA TABLET*/
@media (min-width: 481px) and (max-width: 1024px) {
  /*Estilos Header para Tablet*/
  
}

